{% load static %}
<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>Travel Places</title>
  <link rel='stylesheet' href='https://www.littlesnippets.net/css/codepen-result.css'><link rel="stylesheet" href="{% static 'main/style.css' %}">

</head>
<body>
<!-- partial:index.partial.html -->
<figure class="text">
  <h1>Select a Destination</h1>
  <hr>
</figure>
<figure class="snip1543">
  <img src="{% static 'main/1-1.jpg' %}" alt="sample108" />
  <figcaption>
    <h3>New Delhi</h3>
    <p>Steeped in history yet overflowing with modern life, colorful, cacophonous Delhi pulsates with the relentless rhythms of humanity like few other cities on Earth.</p>
  </figcaption>
  <a href="http://127.0.0.1:8000/signup/index/main/delhi/hotels/"></a>
</figure>
<figure class="snip1543 hover"><img style="height:315px; width:500px" src="{% static 'main/2-1.jpg' %}" alt="sample100" />
  <figcaption>
    <h3>kerala</h3>
    <p>Kerala, a state on India's tropical Malabar Coast, has nearly 600km of Arabian Sea shoreline. It's known for its palm-lined beaches and backwaters, a network of canals.</p>
  </figcaption>
  <a href="http://127.0.0.1:8000/signup/index/main/kerala/hotels/"></a>
</figure>
<figure class="snip1543"><img style="height:315px; width:500px" src="{% static 'main/3-1.jpg' %}" alt="sample101" />
  <figcaption>
    <h3>Jammu And Kashmir</h3>
    <p>Jammu and Kashmir was a state of India from 1954 to 2019, constituting the southern and southeastern portion of the larger Kashmir region Pakistan and China since the mid-20th century. </p>
  </figcaption>
  <a href="http://127.0.0.1:8000/signup/index/main/jammu/hotels/"></a>
</figure>
</figure>
<figure class="snip1543"><img src="{% static 'main/4-1.jpg' %}" alt="sample101" />
  <figcaption>
    <h3>Bangalore</h3>
    <p>Bangalore, situated in the South of India is the capital city of the Indian State, Karnataka.It is nicknamed as The Garden City of the country. The city today is considered one of the largest and fastest growing metropolis that has outgrown other cities in the recent past.</p>
  </figcaption>
  <a href="http://127.0.0.1:8000/signup/index/main/bangalore/hotels/"></a>
</figure>
</figure>
<figure class="snip1543"><img src="{% static 'main/5-1.jpg' %}" alt="sample101" />
  <figcaption>
    <h3>Mumbai</h3>
    <p>Mumbai, previously known as Bombay is one of the most populous and biggest cities of Maharashtra. Also the biggest metropolis of this state, Mumbai is also popular as the entertainment and financial capital. It is the largest city of India and fondly called as the city of dreams. </p>
  </figcaption>
  <a href="http://127.0.0.1:8000/signup/index/main/delhi/hotels/"></a>
</figure>
</figure>
<figure class="snip1543"><img src="{% static 'main/6-1.jpg' %}" alt="sample101" />
  <figcaption>
    <h3>Chennai</h3>
    <p>Chennai, formerly known as Madras, is the capital of the southern state of Tamilnadu and is India's sixth-largest city in terms of population.It is considered as one of the world's fastest growing cities although ranks 13th in terms of cleanliness. </p>
  </figcaption>
  <a href="http://127.0.0.1:8000/signup/index/main/chennai/hotels/"></a>
</figure>
<!-- partial -->
  <script src='https://code.jquery.com/jquery-2.2.4.min.js'></script><script  src="{% static 'main/script.js' %}"></script>

</body>
</html>
